#invoice-list .invoice-list-actions{inline-size:8rem}#invoice-list .invoice-list-search{inline-size:15.625rem}.client-title[data-v-6000b3be]:not(:hover){color:rgba(var(--v-theme-on-surface),var(--v-high-emphasis-opacity))!important}
